<!-- Used by theme-bio-builtin-1 -->

{% if site.data.bio.languages %}
<div class="row">
  <div class="two wide column">
    <h3 class="ui left aligned header no-bottom">Languages</h3>
  </div>

  <div class="fourteen wide column no-bottom">
    <p class="ui no-bottom">
    {% for entry in site.data.bio.languages %}
      <p class="ui no-bottom">
      <b>{{ entry.name }}{% if entry.level %}:</b> {{ entry.level }} {% else %} </b> {% endif %}
      </p>
    {% endfor %}

  </div>
</div>
{% endif %}