<div class="sketchfab-embed-wrapper"><iframe width="{{include.width | default: 640}}" height="{{include.height | default: 480}}" src="https://sketchfab.com/models/{{include.id}}/embed" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
                                                                                
<p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">  
    <a href="https://sketchfab.com/models/{{include.id}}?utm_medium=embed&utm_source=website&utm_campaign=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">{{include.name}}</a>
    by <a href="https://sketchfab.com/smor?utm_medium=embed&utm_source=website&utm_campaign=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">{{include.by}}</a>
    on <a href="https://sketchfab.com?utm_medium=embed&utm_source=website&utm_campaign=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a>
</p>                                                                            
</div>